.profileContainer
{
    background-color: white;
    width: 1800px;
    height: 800px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 50px;
}

.profileInfo
{
    margin-left: 50px;
    padding-top: 25px;
}

#profileName
{
    font-size: 1.8em;
    font-weight: 800;
}

#profileEmail
{
    font-size: 1.5em;
    font-weight: 750;
}

#profilePassword
{
    font-size: 1em;
    font-weight: 500;
}