html,
body,
.view {
    height: 100%;
}

.add-producer {
    margin-top: 120px;
}

.update-producer {
    margin-top: 120px;
}

.add-model {
    margin-top: 120px;
}

.update-model{
    margin-top: 120px;
}

.add-phone {
    margin-top: 120px;
}

.update-phone {
    margin-top: 120px;
}


.page-footer {
    background-color: #929fba;
}

