
body{
    border-top: 5px solid #7e7e7e;
    background-image: url(../images/back.jpg);
}

.page-header header container-fluid{
  background-image:  url(../images/timetotravel.jpg);
}

h1{
    color: #00bfff;
    text-transform: uppercase;
}

.navbar-nav{
    text-transform: uppercase;
    background: #4b0082;
}

.navbar-brand{
    color: #fff;
    cursor: pointer;
}

.form-inline{
    text-align: right;
}

.page-footer {
    background-color: #4b0082;
    color: #ccc;
    padding: 5px 0 1px;
}
.footer-copyright {
    color: #666;
    padding: 10px 0;
}

.wrapper{
    padding: 0 0 50px 0;
}

header{
    padding: 20px 0;
}

.input-group{
    width: 200px;
    text-align: right;
}
.navbar a {
    text-transform: uppercase;
    font-size: 14px;
}

.panel-heading{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

p{
    font-size: large;
    margin: 20px 0;
}

.form-control{
    box-shadow: none;
}

.btn{
    font-family: Arial, serif;
}

.blockquote, p{
    font-style: italic;
}